@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --header-bg: #fff;
  --main-bg: #f1f5f9;
  --title-color: #31A7FB;
  --text-color: #555;
  --border: #e7e7e7;
  --select-bg: #fff;
  --select-text: #555;
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)s;
}

.dark-mode:root {
  --header-bg: #303030;
  --main-bg: #252525;
  --title-color: #31A7FB;
  --text-color: #899095;
  --border: #303030;
  --select-bg: #303030;
  --select-text: #e7e7e7;
  --box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.300);
}

body,
h1,
h1,
p,
ul,
li,
a,
ul,
li,
select,
option,
div {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--main-bg);
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 50px;
  justify-content: space-between;
  background-color: var(--header-bg);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#btn-reset,
#btn-solution {
  border-radius: 25px;
  color: #ffffff;
  font-family: inherit;
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

#btn-reset {
  color: #31A7FB;
  background: transparent;
  border: solid 2px #31A7FB;
}

#btn-solution {
  color: white;
  background: #31A7FB;
  border: solid 2px #31A7FB
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3rem;
  color: var(--title-color);
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

p {
  line-height: 1.75;
  font-weight: 400;
  align-items: center;
}

.clues li {
  display: flex;
  align-items: center;
}

.clues label,
.clues input,
.clues ul,
.clues li {
  cursor: pointer;
}

#check1:checked+label,
#check2:checked+label,
#check3:checked+label,
#check4:checked+label,
#check5:checked+label,
#check6:checked+label,
#check7:checked+label,
#check8:checked+label,
#check9:checked+label,
#check10:checked+label,
#check11:checked+label,
#check12:checked+label,
#check13:checked+label,
#check14:checked+label,
#check15:checked+label {
  color: #31A7FB;
  text-decoration: line-through;
}

.informations {
  margin: 25px 0;
  text-align: center;
}

.description {
  padding: 0 25px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.container-columns {
  display: flex;
  overflow-x: auto;
  align-items: center;
  padding-bottom: 15px;
}

.category {
  margin: 7px;
  padding: 10px;
}

.category li {
  text-align: center;
  padding: 9.5px 0;
}

.house {
  width: 150px;
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
}

.nameHouses {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 2px 0 3px 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: var(--select-text);
  background-color: var(--select-bg);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  cursor: pointer;
}

.clues {
  display: flex;
  line-height: 1.5;
  margin: 15px 25px 15px 50px;
}

.clues ul {
  column-count: 2;
}

.clues ul li {
  border-bottom: 1px solid var(--border);
  page-break-inside: avoid;
  padding: 0.075rem 0;
  cursor: pointer;
}

.clues input {
  margin-right: 15px;
}

/* Button Dark Mode */
#btn-dark-mode {
  -webkit-appearance: none;
}

.btn-dark-mode {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #31A7FB;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

#btn-dark-mode:checked~.btn-dark-mode {
  background: #31A7FB;

}

.btn-dark-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
}

#btn-dark-mode:checked~.btn-dark-mode::before {
  transform: translateX(50px);
}

.btn-dark-mode::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #212529;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
  transform: translateX(-50px);
}

#btn-dark-mode:checked~.btn-dark-mode::after {
  transform: translateX(20px);
}

/* Reponsive */

@media (max-width: 768px) {

  header {
    padding: 0 25px;
  }

  .clues {
    display: flex;
    line-height: 1.5;
    margin: 15px 0px;
  }

  .clues ul {
    margin: 0 auto;
    column-count: auto;
    padding: 0 1.5rem;
  }

  .description,
  .clues p {
    line-height: 1.5;
  }

  h1 {
    line-height: 1.1;
    letter-spacing: 2px;
  }
}